body
{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(184, 184, 211, 0.5),rgba(150, 130, 16, 0.5)),url(../images/C.jpg);
  background-size: cover;
  background-position: center;
  font-family:sans-serif;
}
.contact-title
{
    margin-top: 100px;
    color: rgb(134, 9, 9);
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1
{
 font-size: 32px;
 line-height:10px ;
}
.contact-title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
   width: 600px;
   background: transparent;
   border: none;
   outline: none;
   border-bottom:1px solid blue;
   color:rgb(5, 5, 70);
   font-size: 18px;
   margin-bottom: 16px;

}
input{
   height: 45px;
}
form.submit
{
   background: #ff5722;
   border-color: transparent;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   letter-spacing:  2px;
   height:50px;
   margin-top: 20px;
}
form .submit:hover{
   background-color: orange;
   cursor:pointer;
   color: aqua;
   transition-duration: 1s;
}
h3{
    font-style: italic; font-size:60px;color: rgb(7, 29, 94);
    
    
   margin-left:0; 
   margin-right: 1100px;
   border:2px solid black;
  text-align: center;
  background: yellow;
}
